[access]
	inheritFrom = Third-Party-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	push = group Fuchsia Infra
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
